.App {
  text-align: center;
font-family: Marker Felt, fantasy;

}

.App h1{
font-size: 40px;
font-weight: bold;
}




.App form{

  padding: 10px;
}

.App button{

margin-bottom: 20px;
font-weight: bold;
height: 30px;
}


.todo-main{
display: grid;

grid-template-columns: 3fr 1fr 1fr;
grid-gap: 5px;
box-sizing: border-box;
width: 100%;
padding: 10px;

/* 
grid-template-columns: fit-content(50%) fit-content(50%) 2fr;
align-content: center; */

}



.todo-main li{
  padding: 10px;
  font-size: 1.3em;
  text-align: center;

  }
  
  
  .todo-main button{

    border-radius: 4px;
    font-size: 0.9em;
    max-width: 9em;



    
  
    }
    
    

    .update-btn{

      font-weight: bold;
    }
